@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500&display=swap");

:root {
  --yellow-bgcolor: #ffdc40;
  --purple-bgcolor: #833ae0;
  --purple-light-bgcolor: #9953f1;
  --gray-color: #d2d2d2;
  --white-color: #ece0fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* 
*************************
    CONTAINER STYLE
************************* 
*/

.header {
  width: 100%;
  height: 30px;
  background-color: var(--yellow-bgcolor);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid var(--gray-color);
  border-bottom: 0;
}

.container {
  width: 50%;
  min-width: 350px;
  max-width: 550px;
  text-align: center;
  border: 2px solid var(--gray-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  padding: 2em;
  padding-top: 0.5em;
  font-size: 18px;
  font-weight: bold;
}

.img-wrapper {
  text-align: right;
  margin-top: 0.8em;
}

/* 
*************************
    SORT ICON STYLE
************************* 
*/

#sort-icon {
  transition: transform 0.5s ease-out;
  cursor: pointer;
  width: 30px;
  filter: invert(85%) sepia(21%) saturate(2%) hue-rotate(343deg) brightness(94%)
    contrast(96%);
}

#sort-icon:hover {
  filter: invert(0%) sepia(0%) saturate(33%) hue-rotate(134deg) brightness(94%)
    contrast(100%);
}

.rotate {
  transform: rotate(180deg);
}

/* 
*************************
    TOOLTIP AREA STYLE
************************* 
*/

.tooltip-area {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.tooltip {
  font-size: 12px;
  padding: 0.6em;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 180px;
}

.down-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 24px;
}

/* 
*************************
    TODOS AREA STYLE
************************* 
*/

#todo-input-area {
  margin-right: 0.5em;
  border: 1px solid var(--gray-color);
  border-radius: 12px;
}

#todos {
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  margin-top: 0.5em;
  max-height: 200px;
  overflow-y: scroll;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 0.5em;
}

.todo input {
  width: 200px;
  font-size: 16px;
  padding: 0.4em;
  outline: none;
  border: none;
}

.todo .wrong-icon {
  margin-right: 1em;
  text-align: center;
  border: 1px solid var(--gray-color);
  font-size: 15px;
  color: var(--gray-color);
  font-weight: 100;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-family: sans-serif;
  line-height: 25px;
  transition: background-color 0.3s ease-in-out;
}

.todo .wrong-icon:hover {
  color: var(--white-color);
  background-color: var(--purple-bgcolor);
  cursor: pointer;
  font-weight: 500;
}

.wrong-icon p {
  font-size: 13px;
}

/* 
*************************
    INSERT BUTTON STYLE
************************* 
*/

.insert-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.insert-button .plus-wrapper {
  height: 41px;
  width: 41px;
  border-radius: 50%;
  line-height: 40px;
  background-color: var(--purple-light-bgcolor);
  color: var(--white-color);
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
}

.insert-button .btn {
  background-color: var(--purple-bgcolor);
  font-size: 13px;
  font-weight: 500;
  color: var(--white-color);
  padding: 1em 4.5em;
  border-radius: 20px;
  position: relative;
  letter-spacing: 1px;
}

.insert-button .btn:hover {
  cursor: pointer;
}

/* 
*************************
    SCROLLBAR STYLE
************************* 
*/

::-webkit-scrollbar {
  width: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
