* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  display: flex;
}

.content {
  width: 500px;
  margin-right: 50px;
}

.content .date {
  font-size: 10px;
  margin: 0;
}

.content .author {
  font-size: 12px;
  background-color: azure;
  margin: 0;
}

.content .header-title {
  font-size: 30px;
}

.content > p {
  margin: 20px 0;
  font-weight: bold;
}

.content h2 {
  font-size: 22px;
}

aside section {
  background-color: #eee;
  color: #333;
  font-size: 12px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

aside p {
  font-weight: bold;
}

.reference-links {
  display: flex;
  flex-direction: column;
}

.reference-links a {
  margin: 7px 0;
  color: #833ae0;
  font-weight: bold;
}

.color-keywords table tr td,
th {
  padding: 10px 10px 10px 0;
}
